<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.github.iamsiddharath.capture-me.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="com.github.iamsiddharath.capture-me.commands.category"
            name="Capture Screenshot Now"
            id="com.github.iamsiddharath.capture-me.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.github.iamsiddharath.captureme.handlers.CaptureMeHandler"
            commandId="com.github.iamsiddharath.capture-me.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.github.iamsiddharath.capture-me.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.github.iamsiddharath.capture-me.menus.sampleMenu"
               label="Screen Capture"
               mnemonic="M">
            <command
                  commandId="com.github.iamsiddharath.capture-me.commands.sampleCommand"
                  id="com.github.iamsiddharath.capture-me.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.github.iamsiddharath.capture-me.toolbars.sampleToolbar">
            <command
                  id="com.github.iamsiddharath.capture-me.toolbars.sampleCommand"
                  commandId="com.github.iamsiddharath.capture-me.commands.sampleCommand"
                  icon="icons/capture.png"
                  tooltip="Capture your Screen">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
